<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Dashboard - Gestion des UE et Cours</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/components.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div th:replace="fragments/header :: header"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="main-content">
            <section class="section">
                <div class="card card-info">
                    <div class="container-xl  px-4 mt-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Form for changing password -->
                                <form method="POST" class="form-horizontal" id="passwordChangeForm"
                                      th:action="@{/change-password}">
                                    <div class="card mb-4">
                                        <div class="card-header">Changer votre mot de passe</div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="small mb-1" for="currentPassword">Mot de passe
                                                    actuel</label>
                                                <input class="form-control" id="currentPassword" type="password"
                                                       name="currentPassword"
                                                       placeholder="Mot de passe actuel" readonly value="00000000">
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1" for="newPassword">Nouveau mot de passe</label>
                                                <input class="form-control" id="newPassword" type="password"
                                                       name="newPassword"
                                                       placeholder="Nouveau mot de passe" required minlength="8"
                                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                                       title="Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule et un chiffre.">
                                                <p class="text-danger" id="passwordError"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1" for="confirmPassword">Confirmer le nouveau mot
                                                    de passe</label>
                                                <input class="form-control" id="confirmPassword" type="password"
                                                       name="confirmPassword"
                                                       placeholder="Confirmer le nouveau mot de passe" required>
                                                <p class="text-danger" id="confirmError"></p>
                                            </div>
                                            <button type="submit" id="resetPasswordBtn" class="btn btn-primary">Mettre à
                                                jour
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End password change form -->

                                <!-- Security preferences card -->
                                <div class="card mb-4">
                                    <div class="card-header">Security Preferences</div>
                                    <div class="card-body">
                                        <h5 class="mb-1">Confidentialité du compte</h5>
                                        <p class="small text-muted">En définissant votre compte comme privé, vos
                                            informations de profil et vos publications ne seront pas visibles par les
                                            utilisateurs en dehors de vos groupes d'utilisateurs.</p>
                                        <hr class="my-4">
                                        <h5 class="mb-1">Partage des données</h5>
                                        <p class="small text-muted">Le partage des données d'utilisation peut nous aider
                                            à améliorer nos produits et à mieux servir nos utilisateurs lors de leur
                                            navigation dans notre application. Lorsque vous acceptez de partager des
                                            données d'utilisation avec nous, les rapports d'incidents et les analyses
                                            d'utilisation seront automatiquement envoyés à notre équipe de développement
                                            pour enquête.</p>
                                    </div>
                                </div>
                                <!-- End security preferences card -->
                            </div>

                            <div class="col-lg-6">
                                <!-- Update User Info card -->
                                <div class="card mb-4">
                                    <div class="card-header">Mon Profil</div>
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h6>Role:</h6>
                                            <span class="badge badge-info"
                                                  th:text="${#authentication.principal.authorities[0].authority}"></span>
                                        </div>
                                        <form id="userUpdateForm" method="POST" class="form-horizontal"
                                              th:action="@{/update-user}">
                                            <div class="mb-3">
                                                <label class="small mb-1" for="username">Nom utilisateur</label>
                                                <input class="form-control" name="username" id="username" type="text"
                                                       value="john doe" required>
                                                <p class="text-danger" id="usernameError"></p>
                                            </div>
                                            <div class="mb-3">
                                                <label class="small mb-1" for="email">Email</label>
                                                <input class="form-control" name="email" id="email" type="email"
                                                       th:value="${#authentication.principal.username}" required>
                                                <p class="text-danger" id="emailError"></p>
                                            </div>
                                            <button type="submit" id="updateUserBtn" class="btn btn-primary" disabled>
                                                Mettre à jour
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <!-- Delete Account card -->
                                <div class="card mb-4">
                                    <div class="card-header">Supprimer mon compte</div>
                                    <div class="card-body">
                                        <p>La suppression de votre compte est une action permanente et ne peut pas être
                                            annulée. Si vous êtes sûr de vouloir supprimer votre compte, sélectionnez le
                                            bouton ci-dessous.</p>
                                        <button class="btn btn-danger text-white mt-3" data-toggle="modal"
                                                data-target="#confirmDeleteModal" type="button">
                                            Je comprends, je supprime mon compte
                                        </button>
                                    </div>
                                </div>
                                <!-- End delete account card -->
                            </div>
                        </div>
                    </div>
                </div>

            </section>


            <div th:replace="fragments/setting :: setting"></div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la suppression du compte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est permanente et ne peut pas être
                    annulée.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Oui, je confirme</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/assets/js/app.min.js}"></script>
<script th:src="@{/assets/js/page/index.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>

<script>
    document.getElementById('confirmDeleteButton').addEventListener('click', function () {
        fetch('/user/delete', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/logout';
                } else {
                    console.error('Erreur lors de la suppression du compte');
                }
            })
            .catch(error => console.error('Erreur:', error));
    });

    document.addEventListener('DOMContentLoaded', function () {
        var newPasswordInput = document.getElementById('newPassword');
        var confirmPasswordInput = document.getElementById('confirmPassword');
        var passwordError = document.getElementById('passwordError');
        var confirmError = document.getElementById('confirmError');
        var submitButton = document.getElementById('resetPasswordBtn');

        newPasswordInput.addEventListener('input', function () {
            if (newPasswordInput.validity.valid) {
                passwordError.textContent = '';
            } else {
                showError(passwordError, newPasswordInput.validationMessage);
            }
        });

        confirmPasswordInput.addEventListener('input', function () {
            if (confirmPasswordInput.value === newPasswordInput.value) {
                confirmError.textContent = '';
                submitButton.disabled = false;
            } else {
                showError(confirmError, 'Les mots de passe ne correspondent pas.');
                submitButton.disabled = true;
            }
        });

        function showError(element, message) {
            element.textContent = message;
        }


    });
    $(document).ready(function () {
        $('#passwordChangeForm').submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/change-password',
                data: formData,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 204) {
                        console.log("sucees");
                        localStorage.clear();
                        window.location.href = '/logout';
                        alert('Mot de passe mis a jour avec sucess.');
                    } else {
                        alert('Erreur lors de la mise à jour du mot de passe.');
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    alert('Erreur: ' + errorMessage);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#userUpdateForm').submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/update-user',
                data: formData,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200 && response === 'success') {
                        localStorage.clear();
                        window.location.href = '/logout';
                        alert('Informations utilisateur mises à jour avec succès.');
                    } else {
                        alert('Erreur lors de la mise à jour des informations utilisateur.');
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    localStorage.clear();
                    window.location.href = '/logout';
                    alert('Informations utilisateur mises à jour avec succès.');
                }
            });
        });

        $('#userUpdateForm input').on('input', function () {
            var username = $('#username').val().trim();
            var email = $('#email').val().trim();
            var isValid = username !== '' && email !== '';

            $('#updateUserBtn').prop('disabled', !isValid);
        });
    });


</script>


</body>

</html>