<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Dashboard - Gestion des UE et Cours</title>
    <link rel="stylesheet" th:href="@{/assets/css/app.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/components.css}">
    <link rel="stylesheet" th:href="@{/assets/css/custom.css}">

    <style>
        .comment-section {
            position: relative;
            height: 200px;
            overflow-y: auto;
        }

        .comment-section hr {
            margin: 5px 0;
        }

    </style>
</head>
<body>

<div class="loader "></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">


        <div th:replace="fragments/header :: header"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>


        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row justify-content-between">
                        <div th:classappend="${#strings.contains(userRole, 'ROLE_TEACHER')} ? 'col-md-10' : 'col-md-12'">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-primary text-white-all">
                                    <li class="breadcrumb-item"><a th:href="@{/dashboard/index}"><i
                                            class="fas fa-tachometer-alt"></i>
                                        Dashboard</a></li>
                                    <li class="breadcrumb-item">
                                        <a href="#">
                                            <i class="fas fa-book"></i>
                                            <span th:text="${ue.title}">Nom de l'UE</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <i class="fas fa-list-alt"></i>
                                        Liste des cours
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div th:if="${#strings.contains(userRole, 'ROLE_TEACHER')}" class="col-md-auto">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#addCourseModal">
                                <i class="fas fa-plus"></i> Ajouter un cours à cette UE
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3" th:if="${courses.empty}">
                        <div class="col-12 text-center">
                            <p class="font-15" th:if="${#strings.contains(userRole, 'ROLE_TEACHER')}">Aucun cours
                                disponible. Veuillez en ajouter.</p>
                            <p class="font-15" th:if="${#strings.contains(userRole, 'ROLE_STUDENT')}">Pas de cours
                                disponibles. Veuillez contacter l'enseignant si c'est une erreur.</p>
                        </div>
                    </div>

                    <div class="row mt-3" th:each="course : ${courses}">
                        <div class="col-lg-8">
                            <div class="card card-info">
                                <div class="card-body">
                                    <ul class="list-unstyled list-unstyled-border list-unstyled-noborder">
                                        <li class="media">
                                            <div class="media-body">
                                                <div class="d-flex justify-content-between align-items-center mb-1">
                                                    <div class="media-title"
                                                         th:text="${course.getTitle().toUpperCase()}"></div>
                                                    <div class="text-time">
                                                        Publié le <span
                                                            th:text="${#dates.format(course.createdAt, 'dd MMMM yyyy')}"></span>
                                                        à <span
                                                            th:text="${#dates.format(course.createdAt, 'HH:mm')}"></span>
                                                    </div>
                                                    <div class="media-right">
                                                       <span th:class="${course.status == T(com.example.gestion_ue.enums.CourseStatus).ACTIVE ? 'badge badge-success' :
                                                                     course.status == T(com.example.gestion_ue.enums.CourseStatus).ONGOING ? 'badge badge-warning' :
                                                                     course.status == T(com.example.gestion_ue.enums.CourseStatus).COMPLETED ? 'badge badge-primary' :
                                                                     'badge badge-secondary'}">
                                                            <span th:text="${course.status}"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                                <hr class="hr">
                                                <div class="media-description text-muted"
                                                     th:text="${course.getDescription()}">
                                                </div>
                                                <hr class="hr">
                                                <div class="mt-3">
                                                    <div class="f-12">
                                                        Ce cours est destine a <strong
                                                            th:text="${course.getNumberOfParticipants()}"></strong>
                                                        participants. Les
                                                        prérequis incluent entre autres des <strong
                                                            th:text="${course.getPrerequisites()}"></strong>. Les
                                                        objectifs vises donc a
                                                        termes sont de <strong
                                                            th:text="${course.getObjectives()}"></strong>. La langue du
                                                        cours est <strong th:text="${course.getLanguage()}"> </strong>.
                                                    </div>
                                                </div>
                                                <hr class="hr">
                                                <div class="d-flex justify-content-between">
                                                    <div class="media-links mt-3 text-white">
                                                        <button href="#" class="btn btn-primary btn-sm mr-2">
                                                            <i class="fas fa-share"></i> Share
                                                        </button>


                                                        <button href="#" class="btn btn-warning btn-sm mr-2 btn-comment"
                                                                th:attr="data-course-id=${course.id}, data-course-name=${course.title}"
                                                                data-toggle="modal" data-target="#commentModal"
                                                                onclick="saveCourseId(this)">
                                                            <i class="fas fa-comment"></i> Commenter
                                                        </button>


                                                        <button href="#" class="btn btn-success btn-sm "
                                                                data-toggle="modal"
                                                                data-target="#attachmentsModal"
                                                                th:attr="data-courseId=${course.id}">
                                                            <i class="fas fa-file-alt"></i> Voir les fichiers du cours
                                                        </button>
                                                    </div>
                                                    <div class="mt-3 ml-4">
                                                        <p class="text-muted font-15"><a>Voir les 100 autres
                                                            commentaires</a></p>
                                                    </div>
                                                    <div class="ml-auto float-right mt-3" sec:authorize="hasRole('ROLE_TEACHER')">
                                                        <button class="btn btn-info btn-sm" type="button">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card card-info" style="max-height: 400px">
                                <div class="card-header d-flex justify-content-between align-items-center p-3">
                                    <h5 class="mb-0">Commentaire pour : <span
                                            th:text="${course.getTitle().toLowerCase()}"></span></h5>
                                </div>
                                <div class="card-body comment-section" data-mdb-perfect-scrollbar-init
                                     th:data-course-id="${course.id}" style="position: relative; height: 400px">
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </section>
            <div th:replace="fragments/setting :: setting"></div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Commenter ce cours : <span
                            id="courseNameSpan"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="commentForm" th:action="@{/comments/add}" method="POST">
                        <div class="form-group">
                            <label for="commentText">Votre commentaire</label>
                            <textarea class="form-control" id="commentText" name="commentText" rows="4"
                                      required></textarea>
                        </div>
                        <input type="hidden" id="courseId" name="courseId">
                        <button type="submit" class="btn btn-primary">Publier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addCourseModal" tabindex="-1" aria-labelledby="addCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCourseModalLabel">Ajouter un cours à l'UE <span
                            th:text="${ue.title}">Nom de l'UE</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addCourseForm" th:action="@{/ues/{ueId}/courses/save(ueId=${ue.id})}" th:object="${courseDto}"
                      method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" id="ueId" th:field="*{ue_id}" name="ueId" value="5">
                        <div class="form-group">
                            <label for="title">Titre du cours <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="title" th:field="*{title}" required/>
                            <p class="text-danger" id="courseTitleError"></p>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="courseType">Type de cours <span class="text-danger">*</span></label>
                                <select class="form-control" id="courseType" name="courseType">
                                    <option value="PRACTICAL">Cours Pratique</option>
                                    <option value="THEORETICAL">Cours Théorique</option>
                                </select>
                                <p class="text-danger" id="courseTypeError"></p>

                            </div>
                            <div class="form-group col-6">
                                <label for="duration">Durée (heures) <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="duration" placeholder="duree de ce cours"
                                       name="duration" required>
                                <p class="text-danger" id="durationError"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="numberOfParticipants">Nombre de participants <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="numberOfParticipants"
                                       name="numberOfParticipants" placeholder="Nombre de participants" required>
                                <p class="text-danger" id="numberOfParticipantsError"></p>
                            </div>

                            <div class="form-group col-6">
                                <label for="language">Langue <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="language" name="language"
                                       placeholder="langue du contenu du cours" required>
                                <p class="text-danger" id="languageError"></p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="objectives">Objectifs <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="objectives" placeholder="objectifs vise"
                                          name="objectives" rows="2"></textarea>
                                <p class="text-danger" id="objectivesError"></p>
                            </div>

                            <div class="form-group col-6">
                                <label for="prerequisites">Pré-requis <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="prerequisites"
                                          placeholder="ce quil avoir avant de suivre ce cours" name="prerequisites"
                                          rows="2"></textarea>
                                <p class="text-danger" id="prerequisitesError"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Description du cours <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="description" th:field="*{description}"
                                      required></textarea>
                            <p class="text-danger" id="courseDescriptionError"></p>
                        </div>
                        <div class="form-group">
                            <label for="courseFiles">Fichiers PDF du cours</label>
                            <input type="file" class="form-control-file" id="courseFiles" name="courseFiles"
                                   accept=".pdf" multiple>
                            <small class="form-text text-muted">Vous pouvez télécharger un ou plusieurs fichiers
                                PDF.</small>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" id="submitCourseBtn" disabled>Enregistrer le
                            cours
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal fade" id="attachmentsModal" tabindex="-1" role="dialog" aria-labelledby="attachmentsModalLabel"
         aria-hidden="true" th:fragment="attachmentsModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attachmentsModalLabel">Pièces jointes du cours</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush" id="attachmentsList">

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/assets/js/app.min.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/js/custom.js}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const courseTitleInput = document.getElementById('title');
        const courseDescriptionInput = document.getElementById('description');
        const courseTypeInput = document.getElementById('courseType');
        const durationInput = document.getElementById('duration');
        const numberOfParticipantsInput = document.getElementById('numberOfParticipants');
        const languageInput = document.getElementById('language');
        const objectivesInput = document.getElementById('objectives');
        const prerequisitesInput = document.getElementById('prerequisites');
        const submitCourseBtn = document.getElementById('submitCourseBtn');

        function validateForm() {
            let isValid = true;

            const courseTitleValue = courseTitleInput.value.trim();
            if (courseTitleValue === '') {
                document.getElementById('courseTitleError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('courseTitleError').textContent = "";
            }

            const courseDescriptionValue = courseDescriptionInput.value.trim();
            if (courseDescriptionValue === '') {
                document.getElementById('courseDescriptionError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('courseDescriptionError').textContent = "";
            }

            const courseTypeValue = courseTypeInput.value;
            if (courseTypeValue === '') {
                document.getElementById('courseTypeError').textContent = "Veuillez sélectionner un type de cours.";
                isValid = false;
            } else {
                document.getElementById('courseTypeError').textContent = "";
            }

            const durationValue = durationInput.value.trim();
            if (durationValue === '') {
                document.getElementById('durationError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('durationError').textContent = "";
            }

            const numberOfParticipantsValue = numberOfParticipantsInput.value.trim();
            if (numberOfParticipantsValue === '') {
                document.getElementById('numberOfParticipantsError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('numberOfParticipantsError').textContent = "";
            }

            const languageValue = languageInput.value.trim();
            if (languageValue === '') {
                document.getElementById('languageError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('languageError').textContent = "";
            }

            const objectivesValue = objectivesInput.value.trim();
            if (objectivesValue === '') {
                document.getElementById('objectivesError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('objectivesError').textContent = "";
            }

            const prerequisitesValue = prerequisitesInput.value.trim();
            if (prerequisitesValue === '') {
                document.getElementById('prerequisitesError').textContent = "Ce champ est requis.";
                isValid = false;
            } else {
                document.getElementById('prerequisitesError').textContent = "";
            }

            submitCourseBtn.disabled = !isValid;
        }

        courseTitleInput.addEventListener('input', validateForm);
        courseDescriptionInput.addEventListener('input', validateForm);
        courseTypeInput.addEventListener('change', validateForm);
        durationInput.addEventListener('input', validateForm);
        numberOfParticipantsInput.addEventListener('input', validateForm);
        languageInput.addEventListener('input', validateForm);
        objectivesInput.addEventListener('input', validateForm);
        prerequisitesInput.addEventListener('input', validateForm);

        validateForm();
    });

    $(document).ready(function () {
        $('[data-target="#attachmentsModal"]').click(function () {
            var courseId = $(this).data('courseid');
            var attachmentsList = $('#attachmentsList');

            $.ajax({
                url: '/courses/' + courseId + '/attachments',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    attachmentsList.empty();

                    if (data.length > 0) {
                        $.each(data, function (index, attachment) {
                            var listItem = '<li class="list-group-item">' +
                                '<div class="d-flex justify-content-between align-items-center">' +
                                '<span>' + attachment.name + '</span>' +
                                '<div>' +
                                '<a href="http://localhost:8080/' + attachment.url + '" class="btn btn-sm btn-primary me-2" target="_blank">' +
                                '<i class="fas fa-eye"></i>' +
                                '</a>' +
                                '<a href="' + attachment.url + '" class="btn btn-sm btn-primary me-2 ml-2" download>' +
                                '<i class="fas fa-download"></i>' +
                                '</a>' +
                                '</div>' +
                                '</div>' +
                                '</li>';
                            attachmentsList.append(listItem);
                        });
                    } else {
                        attachmentsList.append('<li class="list-group-item">Aucune pièce jointe disponible.</li>');
                    }
                },
                error: function () {
                    console.error('Erreur lors du chargement des pièces jointes.');
                }
            });

        });
    });

    function saveCourseId(button) {
        var courseId = $(button).data('course-id');
        sessionStorage.setItem('currentCourseId', courseId);
    }

    $(document).ready(function () {
        function loadComments(courseId) {
            var currentUserValue = $('#currentUserValue').text();
            var commentSection = $('.comment-section[data-course-id="' + courseId + '"]');

            $.ajax({
                type: 'GET',
                url: '/comments/course/' + courseId,
                success: function (comments) {
                    commentSection.empty();
                    comments.forEach(function (comment) {
                        var createdAtDate = new Date(comment.createdAt);

                        var formattedDate = createdAtDate.toLocaleDateString('fr-FR', {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric'
                        });

                        var formattedTime = createdAtDate.toLocaleTimeString('fr-FR', {
                            hour: '2-digit',
                            minute: '2-digit'
                        });

                        var isCurrentUser = (comment.user.id === currentUserValue.id);

                        var commentHtml = `
                    <div class="d-flex justify-content-between">
                        <p class="small">${comment.user.lastName}</p>
                        <p class="small text-muted">${formattedDate} à ${formattedTime}</p>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                        <img src="https://picsum.photos/150/200" alt="avatar" style="width: 35px; height: 35px; border-radius: 50%;">
                        <div class="border-5">
                            <p class="small p-1 me-2 mb-1 text-white bg-warning" style="line-height: 1.2;">${comment.commentText}</p>
                        </div>
                    </div>`;

                        if (!isCurrentUser) {
                            commentHtml = `
                        <div class="d-flex justify-content-between">
                            <p class="small mb-1 text-muted">${formattedDate} à ${formattedTime}</p>
                            <p class="small mb-1">${comment.user.lastName}</p>
                        </div>
                        <div class="d-flex flex-row justify-content-end mb-2 pt-1">
                            <div class="border-5">
                                <p class="small p-2 me-2 mb-1 text-white bg-warning" style="line-height: 1.2;">${comment.commentText}</p>
                            </div>
                            <img src="https://picsum.photos/150/250" alt="avatar" class="ml-2" style="width: 45px; height: 45px; border-radius: 50%;">
                        </div>
                        <hr class="hr">`;
                        }

                        commentSection.append(commentHtml);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Erreur lors du chargement des commentaires : ' + error);
                }
            });
        }

        $('#commentForm').submit(function (event) {
            event.preventDefault();

            var courseId = sessionStorage.getItem('currentCourseId');

            var formData = {
                courseId: courseId,
                commentText: $('#commentText').val(),
            };

            $.ajax({
                type: 'POST',
                url: '/comments/add',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    alert('Commentaire ajouté avec succès.');
                    $('#commentModal').modal('hide');

                    loadComments(formData.courseId);
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseText;
                    console.log('Erreur lors de l\'ajout du commentaire : ' + errorMessage);
                }
            });
        });
    });


</script>
</body>ide
</html>